<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false"/>
  </configSections>
  <rewriter configSource="URLRewriter.config" />
  <connectionStrings configSource="db.config"/>
  <system.web>
    <compilation debug="true"/>
    <httpHandlers>
      <add verb="GET" path="Resource.ashx" type="Practice.Web.Handler.ResourceHandler"/>
      <add verb="GET" path="Captcha.jpg" type="Practice.Web.Handler.CaptchaHandler"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="UrlRewriter"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>
